<!DOCTYPE html>
<html lang="{{@site.locale}}" class="{{#is "tools,tool,simulators"}}tools-page{{/is}}">
{{!-- Schema.org structured data --}}
<script type="application/ld+json">
{
  "@context": "https://schema.org",
  "@type": "WebSite",
  "name": "{{@site.title}}",
  "description": "{{@site.description}}",
  "url": "{{@site.url}}",
  "potentialAction": {
    "@type": "SearchAction",
    "target": {
      "@type": "EntryPoint",
      "urlTemplate": "{{@site.url}}/?q={search_term_string}"
    },
    "query-input": "required name=search_term_string"
  },
  "publisher": {
    "@type": "Organization",
    "name": "{{@site.title}}",
    "url": "{{@site.url}}",
    "logo": {
      "@type": "ImageObject",
      "url": "{{asset "images/logo.svg" absolute="true"}}"
    }
  }
}
</script>
<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1">
    
    <title>{{meta_title}}</title>
    <meta name="description" content="{{meta_description}}">
    
    {{!-- Favicon --}}
    <link rel="icon" href="{{asset "images/favicon.ico"}}">
    
    {{!-- CSS --}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/main.css"}}">
    {{#if @custom.enable_animations}}
    <link rel="stylesheet" type="text/css" href="{{asset "css/animations.css"}}">
    {{/if}}
    
    {{!-- Fonts --}}
    <link rel="preconnect" href="https://fonts.googleapis.com">
    <link rel="preconnect" href="https://fonts.gstatic.com" crossorigin>
    <link href="https://fonts.googleapis.com/css2?family=Inter:wght@300;400;500;600;700&display=swap" rel="stylesheet">
    
    {{ghost_head}}
</head>
<body class="{{body_class}}">
    
    {{> header}}
    
    <main class="main-content">
        {{{body}}}
    </main>
    
    {{> footer}}
    
    {{!-- JavaScript --}}
    <script src="{{asset "js/main.js"}}"></script>
    {{#if @custom.enable_animations}}
    <script src="{{asset "js/animations.js"}}"></script>
    {{/if}}
    
    {{ghost_foot}}
</body>
</html>